.header-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e9ecef;
}

.header-component {
  display: flex;
  justify-content: space-between;
  width: 1140px;
}

/* Left */

.left-nav {
  display: flex;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 50px;
}

.logo-link > h2 {
  color: #f75940;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Right */

.right-nav {
  display: flex;
}

.search-notification-account {
  display: flex;
  align-items: center;
  width: 310px;
  justify-content: space-around;
}

.account-icon {
  display: flex;
  background-color: #adb5bd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.account-icon {
  color: white;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  background: #f3f4f5;
  border: none;
  border-radius: 10px;
  width: 220px;
  height: 50px;
  padding-left: 40px;
  box-sizing: border-box;
  outline: none;
}

.fa-magnifying-glass {
  margin-right: -30px;
  z-index: 0;
}

